#gitignore
*/__pycache__
utils/__pycache__
.venv
submission
hnmchallenge/*/__pycache__/
.env
hnmchallenge/*/*/__pycache__/

hnmchallenge/data_analysis/transactions.ipynb
hnmchallenge/data_analysis/transactions.ipynb
hnmchallenge/models/ease/__pycache__/ease.cpython-39.pyc
.env
.vscode/settings.json
.env
hnmchallenge/models_prediction/logs/21_03_2022__21_17_27.log
