#gitignore
*/__pycache__
utils/__pycache__
.venv
submission
hnmchallenge/*/__pycache__/
.env
hnmchallenge/*/*/__pycache__/

hnmchallenge/data_analysis/transactions.ipynb
hnmchallenge/data_analysis/transactions.ipynb
hnmchallenge/models/ease/__pycache__/ease.cpython-39.pyc
.env
